* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container-main {
  max-width: 1158px;
  margin: 0 auto;
  padding: 120px 15px 0 15px;
}

.container-porfolio {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 120px 15px;
}

.header-wrapper {
  display: flex;
  padding: 24px 15px;
  flex-shrink: 0;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.header-wrapper > nav {
  display: flex;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

.link {
  cursor: pointer;
}

ul {
  list-style: none;
}

.main-order-service {
  background: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 48px;
  text-align: center;
}

.main-order-service-text {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 48px;
}

.button-main {
  color: #fff;
  background-color: #4d5ae5;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 16px 32px;
  margin-bottom: 188px;
}

.button-main:hover {
  background: #404bbf;
}

.image-portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  row-gap: 48px;
  column-gap: 24px;
}

.image-portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border: 1px solid #e7e9fc;
  background: #fff;
}

.image-portfolio-items {
  display: block;
}

a {
  text-decoration: none;
}
a:hover {
  color: #404bbf;
}

a:focus {
  color: #404bbf;
}

nav {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.menu-link {
  display: flex;
  gap: 40px;
}

.menu-link-items {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.address-link {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.address-link-items {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.main-content-images {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 0;
  padding: 0 0 120px 0;
}

.main-content-list {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding-bottom: 8px;
}

.main-content-items {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.main-team {
  background: #f4f4fd;
}

.main-team-card {
  display: inline-flex;
  gap: 24px;
  margin: 0;
  padding: 0 0 120px 0;
}

.main-team-card img {
  vertical-align: bottom;
}

.main-team-card-items {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.main-team-names {
  color: #2e2f42;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 8px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.main-team-names-description {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 0 0 32px 0;
  margin: 0;
}

.main-portfolio-description {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 32px 16px 8px 16px;
}

.main-portfolio-description-secondary {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
  padding: 0 16px 32px 16px;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.heading {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding: 0 0 72px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 96px 0 72px 0;
}

.button-portfolio {
  background: #f4f4fd;
  color: #4d5ae5;
  text-align: center;
  padding: 12px 24px 12px 24px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}

.button-portfolio:hover {
  background: #404bbf;
  color: #fff;
}

footer {
  background-color: #2e2f42;
}

.footer-text {
  display: block;
  width: 264px;
  font-family: Roboto;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 0 0 100px 0;
}

.logo-footer {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding: 101.5px 0 17.5px 0;
  display: block;
}
